{% extends "blogapp/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Blog Listesi{% endblock title %}

{% block css %}
<style>
  a{
    text-decoration: none;
    color:black;
  }
</style>
{% endblock css %}

{% block content %}

  <h3>Bloglar</h3>


<div class="row mt-5">
  <h5>Kategoriler</h5>
  <div class="col-md-3">
    <ul class="list-group">
      {% for category in categories  %}
      <li class="list-group-item {% if category.id == categoryId %}active{% endif %} "> <a href="{%url 'blog_category' category.id%}">{{category.name|title}} </a> </li>
      {% endfor %}
      
      
    </ul>
  </div>
  <div class="col-md-9">
    <div class="row">
      {% for blog in blogs %}
      <div class="col-md-4 mb-2">
        <div class="card text-left">
          {% if blog.image %}
            <img class="card-img-top" src="{{blog.image.url}}" height="250px" alt="">
          {% else %}
            <img class="card-img-top" src="{%static 'img/default.png'%}" height="250px" alt="">
          {% endif %}
          
          <div class="card-body">
           <a href="{%url 'blog_detay' blog.id%}"><h4 class="card-title"> {{blog.title|title}} </h4></a> 
            <p class="card-text"> {{blog.content|truncatechars:30}} </p>
            {% comment %} {{ value|truncatechars:7 }} {% endcomment %}
          </div>
          <div class="card-footer">
            <small> {{blog.created}} </small>
            <small> {{blog.author.user.username|reverse_string}} - {{blog.author.user.first_name|lower}} {{blog.author.user.last_name|lower}}   </small>
          </div>
        </div>
      </div>
     
      {% endfor %}
    </div>
   
  </div>
  
   
</div>

{% endblock content %}
   