{% load custom_filters %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">Blog App</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'blog_liste'%}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Ana Sayfa</a>
                </li>
                
                {% if user.is_authenticated %}

                    {% if user.is_staff %}
                    <li>
                        <a href="{%url 'kategori_ekle'%}" class="nav-link">Kategori Ekle </a>
                    </li>
                    <li>
                        <a href="{%url 'blog_ekle'%}" class="nav-link">Blog Ekle </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{%url 'logout'%}" class="nav-link">Çıkış Yap </a>
                    </li>
                    {% else %}
                <li>
                    <a href="{%url 'login'%}" class="nav-link">Giriş Yap</a>
                </li>
                <li>
                    <a href="{%url 'register'%}" class="nav-link">Kayıt Ol  {{context1}} {{context2}} </a>
                </li>
               
                {% endif %}
               
                <li>
                    <a  class="nav-link"> {{user.username|selam}} </a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>